* {
    box-sizing: border-box;
}

body {
    width: 100%;
    max-height: min-content;
    margin: 0;
    padding: 0;
    background: #F7F6F4;
}

header {
    max-width: 1920px;
    width: 80%;
    height: 160px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
}

main {
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
}

footer {
    max-width: 1920px;
    width: 80%;
    height: auto;
    background: #D84727;
    margin: 0 auto;
    margin-top: 70px;
    padding-bottom: 75px;
}