* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #F7F6F4;
}

header {
    max-width: 1920px;
    width: 80%;
    height: 160px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

main {
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
}

footer {
    max-width: 1920px;
    width: 100%;
}